<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mico</title>
</head>
{{msg}}
<body>
    <h1>Mirror and compare your videos !</h1>
    <form method="POST" enctype="multipart/form-data">
        <h2>Top Video</h2>
        <input type="file" name="video1" accept="mp4">
        <input type="checkbox" id="mirror_top" name="mirror_top" value="top">
        <label for="mirror_top">Do you want to mirror it?</label><br>
        <br>
        <h2>Bot Video</h2>
        <input type="file" name="video2" accept="mp4">
        <input type="checkbox" id="mirror_bot" name="mirror_bot" value="bot">
        <label for="mirror_bot">Do you want to mirror it?</label><br>
        <input type="submit" value="Upload and Process">
    </form>
</body>
</html>
